* {
   box-sizing: border-box;
   transition: all 0.2s ease-out;
   margin: 0;
   padding: 0;
   font-family: "Share Tech Mono", monospace;
}
body {
   background: #050505;
}
.bodyContainer {
   display: flex;
   justify-content: space-between;
   height: 85vh;
   width: 100vw;
   margin: 0 auto;
   font-family: "Share Tech Mono", monospace;
   background-size: 100%;
   background: rgb(6, 6, 6);
   color: aquamarine;
   animation: fadeIn 3s;
   animation-iteration-count: infinite;
}

img {
   width: 100%;
   height: 100%;
   border-radius: 10px;
}
.mainCharacterView {
   width: 50%;
   display: flex;
   flex-direction: column;
   margin: auto;
   align-items: center;
}

.nameBox,
.enemyNameBox,
.playerStats,
.enemyStats,
.enemyImage,
.playerImage {
   margin: 0.6em auto;
   background: rgb(15, 15, 15, 0.5);
   box-shadow: 0 0 10px hsl(160, 100%, 35%), 0 0 20px hsl(160, 100%, 35%), 0 0 40px hsl(160, 100%, 35%);
   border-radius: 10px;
}
.nameBox,
.enemyNameBox {
   border: 1px solid black;
   width: 25vw;
   height: 10vh;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   border-radius: 10px;
}
.playerImage {
   border: 1px solidblack;
   width: 30vw;
   height: 30vh;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.playerText,
.enemyText {
   border: none;
   width: 30vw;
   height: 4vh;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 0;
   margin-top: -2.5em;
   margin-bottom: 1em;
   font-size: 1.5em;
   z-index: 1000;
}

.playerStats {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 1px solidblack;
   width: 15vw;
   height: 15vh;
   text-align: center;
   font-size: 1.5rem;

   border-radius: 2%;
   border-radius: 10px;
}
.enemyImage {
   border: 1px solidblack;
   width: 30vw;
   height: 30vh;

   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;

   border-radius: 10px;
}
.enemyStats {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 1px solidblack;
   width: 15vw;
   height: 15vh;
   text-align: center;

   font-size: 1.5rem;

   border-radius: 10px;
}

/* // Skeleton CSS - this is needed for the basic function and a tiny bit of styling. Id is used for faster styling */

.button {
   padding: 0 0px;
   margin: 1em 0em;

   text-align: center;
   font-size: 1rem;

   line-height: 38px;
   text-transform: uppercase;

   border: 2px solid aquamarine;
   border-radius: 10px;
   cursor: pointer;
   background: rgb(15, 15, 15, 0.2);
   color: aquamarine;
   border-color: aquamarine;
}

.top {
   pointer-events: none;
   position: absolute;
   display: block;
   bottom: 59%;
   width: 100%;
   left: 100%;
   height: 5px;
   background: linear-gradient(270deg, transparent, rgb(155, 11, 23) 95%, rgb(255, 255, 255));
   opacity: 0;
   z-index: 9000;
}
.bottom {
   pointer-events: none;
   position: absolute;
   display: block;
   bottom: 59%;
   width: 100%;
   left: -100%;
   height: 5px;
   background: linear-gradient(90deg, transparent, aquamarine 95%, rgb(255, 255, 255));
   opacity: 0;
   z-index: 9000;
}
.buttonFire:focus .bottom {
   opacity: 1;
   left: 100%;
   transition: 1s;
}
.buttonFire:focus .top {
   opacity: 1;
   left: -100%;
   transition: 1s 1s;
}
.button:hover,
.button:focus {
   background: hsl(160, 100%, 15%);
   /* color: black; */
   font-size: 1.2em;
   font-weight: bold;
   box-shadow: 0 0 10px hsl(160, 100%, 35%), 0 0 40px hsl(160, 100%, 35%), 0 0 80px hsl(160, 100%, 35%);
   transition-duration: 0.8s;
}

/* // Container  */

.buttonContainer {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;

   width: max(8%, 20vw);
}

h1 {
   text-align: center;
   color: aquamarine;
   height: 30vh;
}

/* animations */
@keyframes fadeIn {
   0% {
      opacity: 1;
   }
   25% {
      opacity: 1;
      background: rgba(238, 6, 6, 0.5);
   }
   50% {
      opacity: 1;
      background: rgb(6, 6, 6);
   }
   75% {
      opacity: 1;
      background: rgba(238, 6, 6, 0.4);
   }
   100% {
      opacity: 1;
      background: rgb(6, 6, 6);
   }
}

@keyframes shake {
   0% {
      transform: translate(1px, 1px) rotate(0deg);
   }
   10% {
      transform: translate(-1px, -2px) rotate(-1deg);
   }
   20% {
      transform: translate(-3px, 0px) rotate(1deg);
   }
   30% {
      transform: translate(3px, 2px) rotate(0deg);
   }
   40% {
      transform: translate(1px, -1px) rotate(1deg);
   }
   50% {
      transform: translate(-1px, 2px) rotate(-1deg);
   }
   60% {
      transform: translate(-3px, 1px) rotate(0deg);
   }
   70% {
      transform: translate(3px, 1px) rotate(-1deg);
   }
   80% {
      transform: translate(-1px, -1px) rotate(1deg);
   }
   90% {
      transform: translate(1px, 2px) rotate(0deg);
   }
   100% {
      transform: translate(1px, -2px) rotate(-1deg);
   }
}
